@model ProyectoDeGraduacion.Entidades.Citas
@{
    ViewBag.Title = "RegistrarCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<div>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4" style="max-width: 400px; width: 100%;">
            <h2 class="card-title text-center">Programar una Cita</h2>

            @using (Html.BeginForm("RegistrarCita", "Citas", FormMethod.Post))
            {
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.idPaciente, new { @type = "number", @class = "form-control", @readonly = "readonly", @hidden = "hidden" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    @Html.DropDownListFor(m => m.idSede, (SelectList)ViewBag.Sede, "Seleccione el lugar de la cita:", new { @class = "form-control" })
                    <div class="input-group-append">
                    </div>
                </div>

                <div class="input-group mb-3">
                    @Html.DropDownListFor(m => m.idCitaDisponible, (SelectList)ViewBag.CitasDisponibles, "Seleccione la fecha y hora de la cita:", new { @class = "form-control" })
                    <div class="input-group-append">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    const hoy = new Date().toISOString().split('T')[0];

    document.getElementById('fecha').setAttribute('min', hoy);

    const ahora = new Date();  

    /*FALTA LIMITAR LAS HORAS*/        
    //const horaMinima = ahora.toTimeString().slice(0, 5);

    //const campoHora = document.getElementById('hora');
    //campoHora.setAttribute('min', horaMinima);
   

</script>

