#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#chatbot-button {
    background-color: #5bc0de; /* Color similar a btn-info */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#chatbot-content {
    display: none;
    background-color: white; /* Fondo blanco para mejor contraste */
    border: 1px solid #5bc0de; /* Borde del mismo color que el botón */
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    #chatbot-content button {
        background-color: #5bc0de; /* Color de botón similar a btn-info */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
    }

    #chatbot-content p {
        background-color: #f8f9fa; /* Fondo claro para las respuestas */
        padding: 10px;
        border-radius: 5px;
        color: #333; /* Texto oscuro para buena legibilidad */
    }

    #chatbot-content input[type="text"] {
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        margin-top: 10px;
    }
