#chatbot {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    z-index: 1000; 
}

#chatbot-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

#chatbot-content {
    display: none;
    background-color: white;
    border: 1px solid #007BFF;
    border-radius: 10px;
    height: 400px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.respuesta-box {
    background-color: #f8f9fa; 
    border-radius: 8px; 
    padding: 15px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 15px; 
    border: 1px solid #e0e0e0; 
    max-width: 80%; 
    margin-left: auto; 
    margin-right: auto; 
}
