
@{
    ViewBag.Title = "verCalificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calificaciones</h2>

<a href=@Url.Action("NuevaCalificacion","Calificacion")>Agregar Calificacion</a>

