
@{
    ViewBag.Title = "verCalificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/root/dist/css/stylesCalificaciones.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<a class="btn btn-info mb-3" href=@Url.Action("NuevaCalificacion","Calificacion")>Agregar Calificación</a>

<div class="row">
    <div class="card text-center col-3 mx-2">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>

    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>

    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Extracción</h5>
            <p class="card-text">Excelente servicio fui por una extracción dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>
    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>
    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>
    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>
    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>
    <div class="card text-center col-3 mx-2" ">
        <div class="card-header">
            Paciente: Josue Herrera
        </div>
        <div class="card-body">
            <h5 class="card-title">Limpieza Dental</h5>
            <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
            <div class="card-footer text-body-secondary">
                <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
                <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
            </div>
        </div>
    </div>
    <div class="card text-center col-3 mx-2" ">
    <div class="card-header">
        Paciente: Josue Herrera
    </div>
    <div class="card-body">
        <h5 class="card-title">Limpieza Dental</h5>
        <p class="card-text">Excelente servicio fui por una limpieza dental y la doctora fue increible</p>
        <div class="card-footer text-body-secondary">
            <i id="star1" class="fa-solid fa-star" style="color:yellow"></i>
            <i id="star2" class="fa-solid fa-star" style="color:yellow"></i>
            <i id="star3" class="fa-solid fa-star" style="color:yellow"></i>
            <i id="star4" class="fa-solid fa-star" style="color:yellow"></i>
            <i id="star5" class="fa-solid fa-star" style="color:yellow"></i>
        </div>
    </div>
</div>
</div>

