@model ProyectoDeGraduacion.Entidades.Pacientes

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="card mt-4 shadow-sm">
    <div class="card-body login-card-body text-center">
        <h4 class="login-box-msg mb-4">Iniciar Sesión</h4>

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("Login", "Login"))
        {
            <div class="mb-3">
                <label for="Correo" class="form-label">Correo Electrónico</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control", @placeholder = "Correo Electrónico" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <label for="Contrasenna" class="form-label">Contraseña</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                    Iniciar Sesión
                </button>
            </div>

            <div class="mt-3">
                <p>¿No tienes una cuenta?</p><a href="@Url.Action("Registrarse", "Login")" class="link-primary">Registrarse</a>
            </div>
        }
    </div>
</div>

