@model ProyectoDeGraduacion.Entidades.Seguimiento


@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Registro";
}

<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">Agregar productos de pacientes</p>

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("AgregarProducto", "Seguimiento"))
        {
            <div class="input-group mb-3">
                @Html.DropDownListFor(m => m.idPaciente, (SelectList)ViewBag.Pacientes, "Seleccione un paciente", new { @class = "form-control" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.NombreProducto, new { @type = "text", @class = "form-control", @placeholder = "Nombre del producto" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.FechaEntrega, new { @type = "date", @class = "form-control", @placeholder = "Fecha de entrega" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-success btn-block">Registrar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

